#div1{
    color: brown;
}

#div2{
    color: yellow;
}

div p{
    background-color: aquamarine;
}

span > h1{
    background-color: blueviolet;
}

h4 + h2{
    background-color:yellowgreen ;
}

p ~ h3{
    background-color: chocolate;
}